h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

body{
    background-image: url('../images/flowerBack.jpeg');
    resize:both;
}

h4{
    text-decoration:underline;
    font-weight: bolder;
}

.TabLeft{
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    padding: 60px;
    text-align: center;
    background-color: rgb(178, 167, 190);
    color: white;
    font-size: 30px;
    resize:both;
  }

footer {
    text-align: center;
    padding: 40px;
    background-color: rgb(178, 167, 190);
    color: white;
    resize:both;
    font-style: italic;
  }
